@model IEnumerable<PC2.Models.NewsletterFile>

@{
    ViewData["Title"] = "Upload Newsletter";
}

<h1>@ViewData["Title"]</h1>
@{
    bool hasTempData = TempData["Message"] != null;
    
    if(hasTempData)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadNewsletter" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <input type="file" name="userFile" id="userFile" onchange="checkFileSize()" />
                <span id="fileSizeError" class="text-danger"></span>
                <span class="text-danger"></span>               
            </div>
            <br />
            <div class="form-group">
                <input id="uploadButton" type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = Model.Count() - 1; i >= 0; i--) // Loop backwards so newest newsletters appear first
        {
            <tr>
                <td>
                    <a href="@Model.ElementAt(i).Location" target="_blank">@Model.ElementAt(i).Name</a>
                </td>
                <td>
                    <a asp-action="DeleteNewsletter" asp-route-id="@Model.ElementAt(i).NewsletterId">Delete</a> |
                    <a asp-action="RenameNewsletter" asp-route-id="@Model.ElementAt(i).NewsletterId">Rename</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function checkFileSize() {
            var fileInput = document.getElementById('userFile');
            var fileSizeError = document.getElementById('fileSizeError');
            var uploadButton = document.getElementById('uploadButton');
            var maxSize = 10 * 1024 * 1024; // 10MB

            if (fileInput.files.length > 0) {
                var file = fileInput.files[0];
                if (file.size > maxSize) {
                    fileSizeError.textContent = "The file size exceeds the 10MB limit.";
                    uploadButton.disabled = true;
                } else {
                    fileSizeError.textContent = "";
                    uploadButton.disabled = false;
                }
            } else {
                fileSizeError.textContent = "";
                uploadButton.disabled = false;
            }
        }
    </script>
}