@model IEnumerable<PC2.Models.Agency>

@{
    ViewData["Title"] = "Agencies";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgencyName2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyName2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AgencyId">Edit</a> |
                <a asp-controller="Resources" asp-action="Details" asp-route-id="@item.AgencyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AgencyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<ul class="pagination">
    @for (int i = 1; i <= (int)ViewData["MaxPage"]; i++)
    {
        if (i == (int)ViewData["CurrentPage"])
        {
            <li class="page-item active">
                <a class="page-link" asp-action="Index" asp-route-id="@i">@i</a>
            </li>
    }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-id="@i">@i</a>
            </li>
        }
    }
</ul>