@model PC2.Models.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<style>
    .aboutUS {
        font-size: 15px;
        text-align: center;
        width: 60%;
        line-height: 1.3em;
        margin: 2.8em auto 1.5em auto;
    }

    .centHead {
        text-align: center;
        font-weight: bold;
        width: 60%;
        margin: 2.8em auto 1.5em auto;
    }

    .headerPic {
        margin-left: auto;
        margin-right: auto;
    }

    .people-list > div{
        margin-bottom: 1em;
        text-align:center;
    }

    .people-list > h2{
        font-size: 1.3em;
        text-align:center;
        margin: 2em 0 1.25em 0;
    }

</style>


<div>
    <div class="headerPic d-flex justify-content-center" >
        <img src="~/images/about/au1.jpg" alt="Photo of BethAnn Garteiz"/>
        <img src="~/images/about/au2.jpg" alt="Photo of Jauna Balderston-Todd"/>
        <img src="~/images/about/au3.jpg" alt="Photo of Dale Golder"/>
        <img src="~/images/about/au4.jpg" alt="Photo of Kristin Loos"/>
        <img src="~/images/about/au5.jpg" alt="Photo of Sandi Gruberg"/>
        <img src="~/images/about/au8.jpg" alt="Photo of Michele Lehosky" />
        <img src="~/images/about/au6.jpg" alt="Photo of Christopher Cleveland"/>
        <img src="~/images/about/au7.jpg" alt="Photo of Nathan Becker"/>
    </div>
</div>

<div id="content" class="people-list">
    <h1>@ViewData["Title"]</h1>
    <div class="divider"></div>

    <h2>Our Staff</h2>

    <div class="staff-column">
        <table class="table">
            <tbody>
                @for (int i = 0; i < Model.Staff.Count; i++)
                {
                    <tr>
                        <td>
                            <p>@Model.Staff[i].Name</p>
                            <p>@Model.Staff[i].Title</p>
                            @if(Model.Staff[i].PhoneDisplay != null)
                            {
                                <p>
                                    <a href="tel:@Model.Staff[i].Phone">@Model.Staff[i].PhoneDisplay</a>
                                </p>
                            }
                            <a href="mailto:@Model.Staff[i].Email">@Model.Staff[i].Email</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h2>Our Board</h2>
    <div class="board-column">
        <table class="table">
            <tbody>
                @for (int i = 0; i < Model.Board.Count; i++)
                {
                    <tr>
                        <td>
                            <p>@Model.Board[i].Name</p>
                            @if (Model.Board[i].Title != null)
                            {
                                <p>@Model.Board[i].Title</p>
                            }
                            <p>Member since @Model.Board[i].MembershipStart</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h2>Our Steering Committee</h2>
    <div class="steering-column">
        <table class="table">
            <tbody>
                @for (int i = 0; i < Model.SteeringCommittee.Count; i++)
                {
                    <tr>
                        <td>
                            <p>@Model.SteeringCommittee[i].Name</p>
                            <p>@Model.SteeringCommittee[i].Title</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>