@model PC2.Models.EventsModel
@{
    if (Model.IsPC2EventCalendar)
    {
        ViewData["Title"] = "PC2 Events and Activities";
    }
    else
    {
        ViewData["Title"] = "County-wide Events and Activities";
    }

    List<List<CalendarEvent>> eventDateGroups = 
            Model.CalendarEvents
            .GroupBy(calEvent => calEvent.DateOfEvent)
            .Select(group => group.ToList())
            .ToList();
}

<div class="d-flex justify-content-center">
    <img src=~/images/events/events1.jpg />
    <img src=~/images/events/events2.jpg />
    <img src=~/images/events/events3.jpg />
    <img src=~/images/events/events4.jpg />
</div>
<br />
<h1>@ViewData["Title"]</h1>

<div class="divider"></div>

<br />


@section Head{
    <style>
        .img-flyer {
            max-width: 625px;
            max-height: 875px;
        }

        .agenda .agenda-date {
            width: 170px;
        }

        .agenda .agenda-date .dayofmonth {
            width: 40px !important;
            font-size: 36px !important;
            line-height: 36px !important;
            float: left;
            text-align: right;
            margin-right: 10px;
        }

        .agenda .agenda-date .shortdate {
            font-size: 0.75em;
        }


        /* Times */
        .agenda .agenda-time {
            width: 140px;
        }
    </style>
}

@if (Model.IsPC2EventCalendar)
{
    <p>
        <a asp-action="Index" asp-route-eventType="County">View County-Wide Events</a>
    </p>
}
else
{
    <p>
        <a asp-action="Index">View PC2 Events</a>
    </p>
}
<br />

<!-- FullCalendar Code Goes Here -->

<div id="calendar"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.2.0/dist/fullcalendar.min.css" />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

<script src="~/js/Calendar.js"></script>

<!-- Modal Structure -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Event Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 id="modalEventTitle"></h5>
                <p id="modalEventDescription"></p>
                <p><strong>Date:</strong> <span id="modalEventDate"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--
@if (Model.CalendarEvents.Count > 0)
{
    <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int currentDate = 0; currentDate < eventDateGroups.Count; currentDate++)
                    {
                        <tr>
                            <td class="agenda-date" class="active" rowspan="@eventDateGroups[currentDate].Count">
                                <div class="dayofmonth">@eventDateGroups[currentDate][0].DateOfEvent.Day</div>
                                <div class="dayofweek">@eventDateGroups[currentDate][0].DateOfEvent.DayOfWeek</div>
                                <div class="shortdate text-muted">@eventDateGroups[currentDate][0].DateOfEvent.ToString("MMMM"),&nbsp;@eventDateGroups[currentDate][0].DateOfEvent.Year</div>
                            </td>
                            @*loop through all events on this date*@
                            @for (int currentEvent = 0; currentEvent < eventDateGroups[currentDate].Count; currentEvent++) 
                            {
                                string eventDescription = eventDateGroups[currentDate][currentEvent].EventDescription;                         
                                @if (currentEvent > 0) // if this is not the first event on this date, then start a new row
                                {
                                    <tr>
                                        <td class="agenda-time">
                                            @eventDateGroups[currentDate][currentEvent].StartingTime &nbsp;-&nbsp; @eventDateGroups[currentDate][currentEvent].EndingTime
                                        </td>
                                        <td class="agenda-events">
                                            <div class="agenda-event">                                        
                                                @*// use partial view, pass in eventdescription as ViewData*@
                                            @(await Html.PartialAsync("~/Views/Calendar/_IndexPartial.cshtml", new ViewDataDictionary(ViewData) { { "eventDescription", eventDescription } }))                      
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <td class="agenda-time">
                                    @eventDateGroups[currentDate][currentEvent].StartingTime &nbsp;-&nbsp; @eventDateGroups[currentDate][currentEvent].EndingTime
                                    </td>
                                    <td class="agenda-events">
                                        <div class="agenda-event">
                                            @*// use partial view, pass in eventdescription as ViewData*@
                                            @(await Html.PartialAsync("~/Views/Calendar/_IndexPartial.cshtml", new ViewDataDictionary(ViewData) { { "eventDescription", eventDescription } }))
                                </div>
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h2>There are no upcoming @ViewData["Title"] on the Calendar</h2>
    <br />
}
-->

@if (Model.IsPC2EventCalendar)
{
    <img class="d-block mx-auto img-fluid img-flyer" src="~/images/events/ActivitiesFlyer2024.jpg" alt="PC2 Activities and Social Gatherings - Events Flyer">
    <br />
    <p class="text-center"><a target="_blank" href="~/PDF/Events/ActivitiesFlyer2024.pdf">Downloadable 2024 Activities Flyer</a></p>
}